/* Estilos globais para o corpo e o HTML */
body, html {
    margin: 0;
    /* Remove as margens padrão */
    padding: 0;
    /* Remove o preenchimento padrão */
    width: 100%;
    /* Define a largura para 100% da largura da janela */
    height: 100%;
    /* Define a altura para 100% da altura da janela */
    display: flex;
    /* Usa o modelo de layout flexível */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    /* Centraliza o conteúdo verticalmente */
    background-color: #585858;
    /* Define a cor de fundo como preto */
}

#particleCanvas {
    border: 1px solid #9b4040;
    /* Adiciona uma borda branca ao canvas */
}
